$nav-tcolor: #83888F;
$main-tcolor: #FEFCF7;
$main-t2color: #333D4B;
$btn-bgcolor: #0E8784;
$btn-bghover: #66D2CF;
$btn-bgactive: #E2DEDB;
$main-choose-bgc: #282F38;
$fontf-barlow: 'Barlow', sans-serif;
$fontf-fraunces: 'Fraunces', serif;
$bgc-footer: #2C343E;
$color-footer-hover: #fff;