.main__head__page {
    .head__page__box {
        background-image: url(..//../images/Bitmap.png);
        height: 600px;
        &__title {
            width: 700px;
            height: 367px;
            padding: 100px 86px;
            h1 {
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                color: $main-tcolor;
                font-family: Fraunces;
                margin: 0;
                padding-bottom: 32px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                opacity: 0.8;
                width: 75%;
                mix-blend-mode: normal;
                color: $main-tcolor;
                font-family: Barlow;
                padding-bottom: 56px;
            }
            a {
                button {
                    padding: 15px 31px;
                    background-color: $btn-bgcolor;
                    color: $main-tcolor;
                    font-family: Fraunces;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    }
                    button:hover {
                        background: $btn-bghover;
                    }
                    button:active {
                        background-color: $btn-bgactive;
                    }
            }
        }
    }
}

@media only screen and (max-width: 327px) {
    .main__head__page {
         width: 100%;
         .head__page__box {
            //  background-size:contain;
             background-repeat: no-repeat;
             background-size: 325px 500px;
             height: 500px;
             width: 325px;
             .head__page__box__title {
                text-align: center; 
                 width: 100%;
                 padding: 0;
                 height: 292px;
                 padding: 100px 24px 99px 24px; 
                 h1 {
                     font-weight: 900;
                     font-size: 40px;
                     line-height: 40px;
                     padding-bottom: 24px;
                 }
                 p {
                     font-weight: 400;
                     font-size: 15px;
                     line-height: 25px;
                     padding: 0;
                     width: 100%;
                     padding-bottom: 30px;
                 }
             }
         }
    }
 }


@media only screen and (max-width: 768px) {
   .main__head__page {
        width: 100%;
        .head__page__box {
            background-size:contain;
            background-repeat: no-repeat;
            height: 500px;
            .head__page__box__title {
                width: 389px;
                padding: 0;
                height: 292px;
                padding: 50px 0 100px 30px;
                h1 {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 48px;
                    padding-bottom: 24px;
                }
                p {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 0;
                    width: 110%;
                    padding-bottom: 30px;
                }
            }
        }
   }
}

