.main__head__page {
    .head__page__box {
        background-image: url(..//../images/Bitmap.png);
        height: 600px;
        &__title {
            width: 700px;
            height: 367px;
            padding: 100px 86px;
            h1 {
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                color: $main-tcolor;
                font-family: Fraunces;
                margin: 0;
                padding-bottom: 32px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                opacity: 0.8;
                width: 75%;
                mix-blend-mode: normal;
                color: $main-tcolor;
                font-family: Barlow;
                padding-bottom: 56px;
            }
            a {
                button {
                    padding: 15px 31px;
                    background-color: $btn-bgcolor;
                    color: $main-tcolor;
                    font-family: Fraunces;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    }
                    button:hover {
                        background: $btn-bghover;
                    }
                    button:active {
                        background-color: $btn-bgactive;
                    }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .main__head__page {
        .container {
            max-width: 992px;
            margin: 0 auto;
            padding: 0 10px;
            .head__page__box {
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                // position: relative;
                &__title {
                    width: 500px;
                    height: 367px;
                    padding: 50px 40px;
                    // position: absolute;
                    h1 {
                        font-weight: 900;
                        font-size: 52px;
                        line-height: 42px;
                        padding-bottom: 22px;
                    }
                    p {
                        line-height: 18px;
                        width: 80%;
                        padding-bottom: 16px;
                    }
                    a {
                        button {
                            padding: 14px 28px;
                            background-color: $btn-bgcolor;
                            color: $main-tcolor;
                            font-family: Fraunces;
                            border: none;
                            border-radius: 6px;
                            cursor: pointer;
                            }
                            button:hover {
                                background: $btn-bghover;
                            }
                            button:active {
                                background-color: $btn-bgactive;
                            }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .main__head__page {
        .container {
            max-width: 768px;
            margin: 0 auto;
            padding: 0 10px;
            .head__page__box {
                height: 500px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                &__title {
                    width: 420px;
                    height: 267px;
                    padding: 70px 30px;
                    h1 {
                        font-weight: 900;
                        font-size: 52px;
                        line-height: 52px;
                        padding-bottom: 32px;
                    }
                    p {
                        line-height: 26px;
                        width: 95%;
                        padding-bottom: 36px;
                    }
                    a {
                        button {
                            padding: 15px 31px;
                            cursor: pointer;
                            }   
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 576px) {
    .main__head__page {
        .container {
            max-width: 576px;
            margin: 0 auto;
            padding: 0 10px;
            .head__page__box {
                height: 500px;
                background-size:cover;
                background-repeat: no-repeat;
                background-position: center;
                &__title {
                    width: 420px;
                    height: 267px;
                    padding: 70px 30px;
                    h1 {
                        font-weight: 900;
                        font-size: 42px;
                        line-height: 42px;
                        padding-bottom: 32px;
                    }
                    p {
                        line-height: 22px;
                        width: 90%;
                        padding-bottom: 36px;
                    }
                    a {
                        button {
                            padding: 14px 28px;
                            cursor: pointer;
                            }   
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .main__head__page {
        .container {
            max-width: 480px;
            margin: 0 auto;
            padding: 0 10px;
            .head__page__box {
                height: 400px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .main__head__page {
        .container {
            max-width: 375px;
            margin: 0 auto;
            padding: 0 10px;
            .head__page__box {
                height: 400px;
                &__title {
                    width: 400px;
                    height: 267px;
                    padding: 30px 30px;
                    h1 {
                        font-weight: 900;
                        font-size: 42px;
                        line-height: 42px;
                        padding-bottom: 22px;
                    }
                    p {
                        line-height: 22px;
                        width: 80%;
                        padding-bottom: 26px;
                    }
                }
            }
        }
    }
}
